# Ignore virtual environment
venv/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore logs and temp files
*.log
*.swp
.DS_Store

# Ignore SQL Server specific files
*.mdf
*.ldf
Thumbs.db
